<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Web scraping Falcon 9 and Falcon Heavy Launches Records from Wikipedia

Estimated time needed: **40** minutes

In this lab, you will be performing web scraping to collect Falcon 9 historical launch records from a Wikipedia page titled `List of Falcon 9 and Falcon Heavy launches`

[https://en.wikipedia.org/wiki/List_of_Falcon\_9\_and_Falcon_Heavy_launches](https://en.wikipedia.org/wiki/List_of_Falcon\_9\_and_Falcon_Heavy_launches?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01)

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module\_1\_L2/images/Falcon9\_rocket_family.svg)

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing\_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

More specifically, the launch records are stored in a HTML table shown below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module\_1\_L2/images/falcon9-launches-wiki.png)

## Objectives

Web scrap Falcon 9 launch records with `BeautifulSoup`:

*   Extract a Falcon 9 launch records HTML table from Wikipedia
*   Parse the table and convert it into a Pandas data frame

First let's import required packages for this lab

In [1]:
%pip install requests
%pip install bs4
%pip install pandas
%pip install numpy
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: bs4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.22.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
t0 = time.time()
url = "https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches"
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
r.status_code

200

A quick inspection of the wikipedia page linked to the above url indicates that the datframes we want to extract have a class "wikitable plainrowheaders collapsible", which can be easily extracted using the 'find_all' method in BeautifulSoup.

In [3]:
tables = soup.find_all("table", class_ = "wikitable plainrowheaders collapsible")

In [4]:
print("There are a total of", len(tables), "number of tables that we would like to extract.")

There are a total of 10 number of tables that we would like to extract.

Below we loop through different elements of the html code to extract the required information.
First we loop through tables with index [1, 2 ,3 ,4, 7, 8 ,9], because they follow the same exact pattern in the html code, and hence we can loop through all the tables in a single piece of code.

In [5]:
all_tables = []
for ind in [1, 2 ,3 ,4, 7, 8 ,9]: #the index that corresponds to the table to be extracted
    t_body = tables[ind].find("tbody")
    t_r = t_body.find_all("tr")
    date = []
    Booster_Version = []
    Launch_Site = []
    Payload = []
    Payload_mass = []
    Orbit = []
    customer = []
    Launch_Outcome = []
    Booster_Landing = []
    date = []
    #below we loop through different 'td' tags in the html to extract the different columns
    for index in range(1,len(t_r),2):
        date_iter = t_r[index].find_all("td")[0].text
        date.append(date_iter[:-1])
        Booster_Version_iter = t_r[index].find_all("td")[1].text
        Booster_Version.append(Booster_Version_iter[:-1])
        Launch_Site_iter = t_r[index].find_all("td")[2].text
        Launch_Site.append(Launch_Site_iter[:-1])
        Payload_iter = t_r[index].find_all("td")[3].text
        Payload.append(Payload_iter[:-1])
        Payload_mass_iter = t_r[index].find_all("td")[4].text
        Payload_mass.append(Payload_mass_iter[:-1])
        Orbit_iter = t_r[index].find_all("td")[5].text
        Orbit.append(Orbit_iter[:-1])
        customer_iter = t_r[index].find_all("td")[6].text
        customer.append(customer_iter[:-1])
        Launch_Outcome_iter = t_r[index].find_all("td")[7].text
        Launch_Outcome.append(Launch_Outcome_iter[:-1])
        Booster_Landing_iter = t_r[index].find_all("td")[8].text
        Booster_Landing.append(Booster_Landing_iter[:-1])
    all_tables_iter = pd.DataFrame({ #append and creates a dataframe
        'date' : date, 
        'Booster_Version' : Booster_Version,
        'Launch_Site' : Launch_Site,
        'Payload' : Payload,
        'Payload_mass' : Payload_mass, 
        'Orbit' : Orbit,
        'customer' : customer,
        'Launch_Outcome' : Launch_Outcome, 
        'Booster_Landing' :  Booster_Landing,
        'date' :  date

    })
    all_tables.append(all_tables_iter)
all_tables[0].head()

,date,Booster_Version,Launch_Site,Payload,Payload_mass,Orbit,customer,Launch_Outcome,Booster_Landing
0,"6 January 2014,22:06[42]",F9 v1.1,"CCAFS,SLC-40",Thaicom 6[23],"3,325 kg (7,330 lb)",GTO,Thaicom,Success[43],No attempt[44]
1,"18 April 2014,19:25[22]",F9 v1.1,"Cape Canaveral,LC-40",SpaceX CRS-3[23](Dragon C105),"2,296 kg (5,062 lb)[46] (excl. Dragon mass)",LEO (ISS),NASA (CRS),Success,Controlled(ocean) [d][47]
2,"14 July 2014,15:15",F9 v1.1,"Cape Canaveral,LC-40",Orbcomm-OG2-1(6 satellites)[23],"1,316 kg (2,901 lb)",LEO,Orbcomm,Success[52],Controlled(ocean)[d][47]
3,"5 August 2014,08:00",F9 v1.1,"Cape Canaveral,LC-40",AsiaSat 8[23][55][56],"4,535 kg (9,998 lb)",GTO,AsiaSat,Success[57],No attempt[58]
4,"7 September 2014,05:00",F9 v1.1B1011[8],"Cape Canaveral,LC-40",AsiaSat 6[23][55][59],"4,428 kg (9,762 lb)",GTO,AsiaSat,Success[60],No attempt

Below we loop through the table with index = 0.

In [6]:
tables = soup.find_all("table", class_ = "wikitable plainrowheaders collapsible")
#tables = soup.find_all("table", class_ = "wikitable")
#there are 10 such tables
t_body = tables[0].find("tbody")
t_r = t_body.find_all("tr")
date = []
Booster_Version = []
Launch_Site = []
Payload = []
Payload_mass = []
Orbit = []
customer = []
Launch_Outcome = []
Booster_Landing = []
date = []
#for index in range(1,len(t_r),9):
for index in range(1,9,2):
    date_iter = t_r[index].find_all("td")[0].text
    date.append(date_iter[:-1])
    Booster_Version_iter = t_r[index].find_all("td")[1].text
    Booster_Version.append(Booster_Version_iter[:-1])
    Launch_Site_iter = t_r[index].find_all("td")[2].text
    Launch_Site.append(Launch_Site_iter[:-1])
    Payload_iter = t_r[index].find_all("td")[3].text
    Payload.append(Payload_iter[:-1])
    Payload_mass_iter = t_r[index].find_all("td")[4].text
    Payload_mass.append(Payload_mass_iter[:-1])
    Orbit_iter = t_r[index].find_all("td")[5].text
    Orbit.append(Orbit_iter[:-1])
    customer_iter = t_r[index].find_all("td")[6].text
    customer.append(customer_iter[:-1])
    Launch_Outcome_iter = t_r[index].find_all("td")[7].text
    Launch_Outcome.append(Launch_Outcome_iter[:-1])
    Booster_Landing_iter = t_r[index].find_all("td")[8].text
    Booster_Landing.append(Booster_Landing_iter[:-1])
table1 = pd.DataFrame({
    'date' : date, 
    'Booster_Version' : Booster_Version,
    'Launch_Site' : Launch_Site,
    'Payload' : Payload,
    'Payload_mass' : Payload_mass, 
    'Orbit' : Orbit,
    'customer' : customer,
    'Launch_Outcome' : Launch_Outcome, 
    'Booster_Landing' :  Booster_Landing,
    'date' :  date

})
table1.head(3)

,date,Booster_Version,Launch_Site,Payload,Payload_mass,Orbit,customer,Launch_Outcome,Booster_Landing
0,"4 June 2010,18:45",F9 v1.0[7]B0003[8],"CCAFS,SLC-40",Dragon Spacecraft Qualification Unit,No payload (excl. Dragon Mass),LEO,SpaceX,Success,Failure[9][10](parachute)
1,"8 December 2010,15:43[13]",F9 v1.0[7]B0004[8],"CCAFS,SLC-40",Dragon demo flight C1(Dragon C101),Classified (excl. Dragon Mass),LEO (ISS),\nNASA (COTS)\nNRO\n,Success[9],Failure[9][14](parachute)
2,"22 May 2012,07:44[18]",F9 v1.0[7]B0005[8],"CCAFS,SLC-40",Dragon demo flight C2+[19](Dragon C102),"525 kg (1,157 lb)[20] (excl. Dragon mass)",LEO (ISS),NASA (COTS),Success[21],No attempt

Below we loop through the table with index = 5.

In [7]:
#all tables with class = "wikitable plainrowheaders collapsible"
tables = soup.find_all("table", class_ = "wikitable plainrowheaders collapsible")
#tables = soup.find_all("table", class_ = "wikitable")
#there are 10 such tables
t_body = tables[5].find("tbody")
t_r = t_body.find_all("tr")
date = []
Booster_Version = []
Launch_Site = []
Payload = []
Payload_mass = []
Orbit = []
customer = []
Launch_Outcome = []
Booster_Landing = []
date = []
for index in range(9,len(t_r),2):
#for index in range(1,9,2):
    date_iter = t_r[index].find_all("td")[0].text
    date.append(date_iter[:-1])
    Booster_Version_iter = t_r[index].find_all("td")[1].text
    Booster_Version.append(Booster_Version_iter[:-1])
    Launch_Site_iter = t_r[index].find_all("td")[2].text
    Launch_Site.append(Launch_Site_iter[:-1])
    Payload_iter = t_r[index].find_all("td")[3].text
    Payload.append(Payload_iter[:-1])
    Payload_mass_iter = t_r[index].find_all("td")[4].text
    Payload_mass.append(Payload_mass_iter[:-1])
    Orbit_iter = t_r[index].find_all("td")[5].text
    Orbit.append(Orbit_iter[:-1])
    customer_iter = t_r[index].find_all("td")[6].text
    customer.append(customer_iter[:-1])
    Launch_Outcome_iter = t_r[index].find_all("td")[7].text
    Launch_Outcome.append(Launch_Outcome_iter[:-1])
    Booster_Landing_iter = t_r[index].find_all("td")[8].text
    Booster_Landing.append(Booster_Landing_iter[:-1])
table2 = pd.DataFrame({
    'date' : date, 
    'Booster_Version' : Booster_Version,
    'Launch_Site' : Launch_Site,
    'Payload' : Payload,
    'Payload_mass' : Payload_mass, 
    'Orbit' : Orbit,
    'customer' : customer,
    'Launch_Outcome' : Launch_Outcome, 
    'Booster_Landing' :  Booster_Landing,
    'date' :  date

})
table2.head(3)

,date,Booster_Version,Launch_Site,Payload,Payload_mass,Orbit,customer,Launch_Outcome,Booster_Landing
0,"22 February 2018,14:17[267]",F9 FT ♺B1038.2[268],"VAFB,SLC-4E",\nPaz[269]\nTintin A and Tintin B[270]\n,"2,150 kg (4,740 lb)",SSO,\nHisdesat\nexactEarth\nSpaceX\n,Success[271],No attempt[271]
1,"6 March 2018,05:33[276]",F9 B4B1044.1[110],"CCAFS,SLC-40",\nHispasat 30W-6[277]\nPODSat[278]\n,"6,092 kg (13,431 lb)[279]",GTO,\nHispasat[277]\nNovaWurks\n,Success[280],No attempt[281]
2,"30 March 2018,14:14[285]",F9 B4 ♺B1041.2[268],"VAFB,SLC-4E",Iridium NEXT-5(10 satellites)[154],"9,600 kg (21,200 lb)",Polar LEO,Iridium Communications,Success[286],No attempt[287]

Create a `BeautifulSoup` object from the HTML `response`

And finally, we loop through the table with index = 6.

In [8]:
#all tables with class = "wikitable plainrowheaders collapsible"
tables = soup.find_all("table", class_ = "wikitable plainrowheaders collapsible")
#tables = soup.find_all("table", class_ = "wikitable")
#there are 10 such tables
t_body = tables[6].find("tbody")
t_r = t_body.find_all("tr")
date = []
Booster_Version = []
Launch_Site = []
Payload = []
Payload_mass = []
Orbit = []
customer = []
Launch_Outcome = []
Booster_Landing = []
date = []
table3 = []
for index in [1 ,3 ,5, 7 ,11, 13 ,15, 17 , 21, 23 ,25 ,27 ,29]:
    date_iter = t_r[index].find_all("td")[0].text
    date.append(date_iter[:-1])
    Booster_Version_iter = t_r[index].find_all("td")[1].text
    Booster_Version.append(Booster_Version_iter[:-1])
    Launch_Site_iter = t_r[index].find_all("td")[2].text
    Launch_Site.append(Launch_Site_iter[:-1])
    Payload_iter = t_r[index].find_all("td")[3].text
    Payload.append(Payload_iter[:-1])
    Payload_mass_iter = t_r[index].find_all("td")[4].text
    Payload_mass.append(Payload_mass_iter[:-1])
    Orbit_iter = t_r[index].find_all("td")[5].text
    Orbit.append(Orbit_iter[:-1])
    customer_iter = t_r[index].find_all("td")[6].text
    customer.append(customer_iter[:-1])
    Launch_Outcome_iter = t_r[index].find_all("td")[7].text
    Launch_Outcome.append(Launch_Outcome_iter[:-1])
    Booster_Landing_iter = t_r[index].find_all("td")[8].text
    Booster_Landing.append(Booster_Landing_iter[:-1])
table3 = pd.DataFrame({
    'date' : date, 
    'Booster_Version' : Booster_Version,
    'Launch_Site' : Launch_Site,
    'Payload' : Payload,
    'Payload_mass' : Payload_mass, 
    'Orbit' : Orbit,
    'customer' : customer,
    'Launch_Outcome' : Launch_Outcome, 
    'Booster_Landing' :  Booster_Landing,
    'date' :  date

})
table3.head(3)

,date,Booster_Version,Launch_Site,Payload,Payload_mass,Orbit,customer,Launch_Outcome,Booster_Landing
0,"11 January 2019,15:31[396]",F9 B5 ♺B1049.2[397],"VAFB,SLC-4E",Iridium NEXT-8(10 satellites)[154],"9,600 kg (21,200 lb)",Polar LEO,Iridium Communications,Success,Success(drone ship)
1,"22 February 2019,01:45[398]",F9 B5 ♺B1048.3[399],"CCAFS,SLC-40",\nNusantara Satu (PSN-6)[400]\nBeresheet Moon ...,"4,850 kg (10,690 lb)[403]",GTO,\nPSN\nSpaceIL / IAI\nAir Force Research\n,Success,Success(drone ship)
2,"2 March 2019,07:49[412]",F9 B5B1051.1[268][413],"KSC,LC-39A",Crew Dragon Demo-1[414](Dragon C201),"12,055 kg (26,577 lb)[415][h]",LEO (ISS),NASA (CCD),Success,Success(drone ship)

Now, we can concatenate all the tables that were extracted.

In [9]:
data = pd.concat([table1,all_tables[0],all_tables[1] ,
all_tables[2] ,all_tables[3], table2,
all_tables[4] ,table3, all_tables[5]])

#add a column named 'Flight No."
data['Flight No.'] = np.arange(1,data.shape[0]+1,1)

#reset the index and drop the index column
data = data.reset_index()
data.drop(['index'], axis = 1, inplace = True)

#rearrange the columns
data = data[['Flight No.','date', 'Booster_Version', 'Launch_Site', 'Payload', 'Payload_mass',
       'Orbit', 'customer', 'Launch_Outcome', 'Booster_Landing']]
data.head()

,Flight No.,date,Booster_Version,Launch_Site,Payload,Payload_mass,Orbit,customer,Launch_Outcome,Booster_Landing
0,1,"4 June 2010,18:45",F9 v1.0[7]B0003[8],"CCAFS,SLC-40",Dragon Spacecraft Qualification Unit,No payload (excl. Dragon Mass),LEO,SpaceX,Success,Failure[9][10](parachute)
1,2,"8 December 2010,15:43[13]",F9 v1.0[7]B0004[8],"CCAFS,SLC-40",Dragon demo flight C1(Dragon C101),Classified (excl. Dragon Mass),LEO (ISS),\nNASA (COTS)\nNRO\n,Success[9],Failure[9][14](parachute)
2,3,"22 May 2012,07:44[18]",F9 v1.0[7]B0005[8],"CCAFS,SLC-40",Dragon demo flight C2+[19](Dragon C102),"525 kg (1,157 lb)[20] (excl. Dragon mass)",LEO (ISS),NASA (COTS),Success[21],No attempt
3,4,"8 October 2012,00:35[22]",F9 v1.0[7]B0006[8],"CCAFS,SLC-40",SpaceX CRS-1[23](Dragon C103),"4,700 kg (10,400 lb) (excl. Dragon mass)",LEO (ISS),NASA (CRS),Success,No attempt
4,5,"6 January 2014,22:06[42]",F9 v1.1,"CCAFS,SLC-40",Thaicom 6[23],"3,325 kg (7,330 lb)",GTO,Thaicom,Success[43],No attempt[44]

In [10]:
print("The code execution took", time.time()-t0, "seconds. This time doesn't include the time taken to load/import different required packages.")

The code execution took 1.4772391319274902 seconds. This time doesn't include the time taken to load/import different required packages.

In [11]:
print("The scrapped dataframe contains", data.shape[0], "number of rows and", data.shape[1], "number of columns.")

The scrapped dataframe contains 132 number of rows and 10 number of columns.

The extracted dataset isn't in the tidy format. 

Various data wrangling techniques need to be employed (e.g., using regex expressions to keep only the useful strings, as well as performing the one-hot encoding to different columns)

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Yan Luo</a>

<a href="https://www.linkedin.com/in/nayefaboutayoun/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Nayef Abou Tayoun</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description          |
| ----------------- | ------- | ---------- | --------------------------- |
| 2021-06-09        | 1.0     | Yan Luo    | Tasks updates               |
| 2020-11-10        | 1.0     | Nayef      | Created the initial version |

Copyright © 2021 IBM Corporation. All rights reserved.